
.navbar-toggler{

display: none;

}

#nav-container {
    margin: 35px 0 10px 0;
    
}

img{

    width:350px;
     height:300px; 

}


#logo {
    width: 100%;
    position: absolute;
    top: -45px;
    z-index: 2;
    
}

#logo div {
    display: flex;
    margin-left: 10px;
}

#navbarSupportedContent {
    z-index: 3;
    margin-left: 300px; 
    display:inline-block;
  
}

.btn{

margin-left: 5px;

}

.btn:hover{

color: rgb(12, 181, 248);

}

nav {
    background-color:black;
    height: 60px;
    box-shadow: 0 5px 4px rgb(0,0,0.5);
    
}


@media (max-width: 600px){

#logo{

z-index: 110;
background-color: rgb(0, 0, 0);

}

nav{

position: fixed;
height: 230px;
top: -20px;
z-index: 100;
box-shadow: 0 5px 4px rgb(0,0,0.5);

}

#navbarSupportedContent{

position: relative;    
right: 350px;
top: 100px;
z-index: 100;


}

#btn2{

    margin-left: 20px;
    /* margin-top: -6px; */

}

#btn3{

margin-left: 200px;
width: 150px;
margin-top: -66px;

}

img{

width: 250px;
height: 200px;
top: -30px;
position: fixed;
left: 40px;
z-index: 100;

}


}