<div id="nav-container">
  <div id="logo">
    <div>
      <a class="navbar-brand" href="/">
        <img src="/assets/img/logo.png" class="d-inline-block align-top" alt="logo" loading="lazy"></a>
    </div>
  </div>
  <div>
    <nav class="navbar navbar-light">

        <ul id="navbarSupportedContent">

        <a type="button" id="btn1" class="btn btn-outline-warning" routerLink="/">Home</a>

        <a type="button" id="btn2" class="btn btn-outline-warning" routerLink="/produtos">Produtos</a>

        <button type="button" id="btn3" class="btn btn-outline-warning" routerLink="/quemSomos">Quem Somos</button>



      </ul>
    </nav>
  </div>
</div>




<!-- <ng-template #Modal let-c="close" let-d="dismiss">

  <div class="modal-header"> <strong>Gerenciamento de Redes Sociais</strong>
    <button type="button" class="close" (click)="c('')" style="color: red;">X</button>
  </div>
  <div class="modal-body">
    <div>

      <h6>Nossa agência entende a importância de estar presente nas redes sociais.</h6>

      <h6>Também sabemos que não é todo mundo que tem tempo para poder gerar conteúdo e criar relacionamento com os seus
        clientes.</h6>

      <h6>Então através de uma plataforma conseguimos suprir essa necessidade e além de gerenciar suas redes sociais,
        produzimos conteúdo para gerar engajamento.</h6>


    </div>

  </div>

</ng-template> -->