img {
    width: 560px;
    height: 315px;
}

.btn {
    margin-top: 20px;
    margin-left: 200px;
}

ngb-carousel {
    width: 560px;
    height: 315px;
}

@media (max-width: 500px) {
    ngb-carousel {
        width: 350px;
        height: 200px;
        position: relative;
        right: 10px;
        top: 330px;
    }

img{
    position: relative;
    right: 30px;
    width: 400px;
    height: 200px;

}
    
    h1 {
        position: relative;
        top: 300px;
    }

    .btn{

        position: relative;
        right: 120px;
        top: 320px;
        width: 80%;
        

    }
}
