<h1>Artes</h1>
<ngb-carousel id="carrossel">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper" data-interval="5000">
        <img src="assets/img/servicos/home/1.png" alt="">
      </div>
        
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper" data-interval="5000">
        <img src="assets/img/servicos/home/2.png" alt="">
      </div>

      <div class="carousel-caption">
       
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper" data-interval="5000">
        <img src="assets/img/servicos/home/3.png" alt="">
      </div>
      <div class="carousel-caption">
      
      </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="picsum-img-wrapper" data-interval="5000">
        <img src="assets/img/servicos/home/4.png" alt="">
      </div>
    
    </ng-template>

    <ng-template ngbSlide>
      <div class="picsum-img-wrapper" data-interval="5000">
        <img src="assets/img/servicos/home/5.png" alt="">
      </div>
    
    </ng-template>
   
  </ngb-carousel>

  <a type="button" class="btn btn-warning" href="/imagens">Vizualizar todas</a>