<div class="jumb">
  
    <h1>Promoção da <strong>OuroMid</strong></h1>
    <h3><strong>Videos do seu jeito e gosto com narrações profissionais</strong></h3>
  
<div class="row">
    <img src="assets/img/servicos/home/14.png" width="400px" height="200px" alt="..."
    class="img-fluid">

    <img src="assets/img/servicos/precos/PREÇO-POR-VIDEOS.png" width="200px" height="200px" alt="..."
        class="img-fluid">
      
</div>

<br>

</div>
