.title{

    text-align: center;


}


iframe{

    width:560px;
    height: 315px;
    margin-left: 400px ;
    margin-top: 30px;

}


@media(max-width: 500px){

    .title{

        text-align: center;
        margin-top: 80px;
    
    
    }
    
    
    iframe{
    
        width:90%;
        height: 100%;
        margin-left: 30px ;
        margin-top: 30px;
    
    }


}