ngb-carousel {
    width: 560px;
    height: 315px;
}

iframe{

    width: 560px;
    height: 315px;

}

@media (max-width: 500px) {
    ngb-carousel {
        width: 350px;
        height: 200px;
        position: relative;
        right: 10px;
    }

    iframe{

        width: 350px;
        height: 200px;

    }

    .btn{

        position: relative;
        right: 120px;
        width: 80%;
        

    }
}
