<h1>Vídeos</h1>
<ngb-carousel id="carrossel">
  <ng-template ngbSlide>
    <iframe src="https://www.youtube.com/embed/mTemQ0-gGAs?controls=0&mute=1" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper" data-interval="5000">
      <iframe src="https://www.youtube.com/embed/ncbAAyoZIYU?controls=0&mute=1" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper" data-interval="5000">
      <iframe src="https://www.youtube.com/embed/I0YCPeT_TNs?controls=0&mute=1" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
    </div>
  </ng-template>

  <ng-template ngbSlide>
    <div class="picsum-img-wrapper" data-interval="5000">
      <iframe src="https://www.youtube.com/embed/N2ZSyn7Qcdw" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
    </div>
  </ng-template>

</ngb-carousel>

<a type="button" class="btn btn-warning" style="margin-top: 20px; margin-left: 200px ;"
href="/videos">Vizualizar todos</a>