.jumbotron {
    margin-top: 30px;
    background-color: rgb(6, 131, 189);
}

#divcard1 {
    margin-top: 55px;
}

.card1 {
    width: 85%;
}

#divcard2 {
    margin-top: 55px;
}

#card2 {
    width: 85%;
    height: 40%;
}

.card-body {
    margin-top: 30px;
}

.text {
    color: white;
    text-align: center;
    font-size: 30px;
}

div.card {
    background-color: rgba(0, 225, 255, 0.829);
    min-height: 315px;
    font-size: 25px;
}

#carrosel {
    position: relative;
    margin-top: 40px;
    margin-left: 30px;
}

.title {
    text-align: center;
    margin-top: 10px;
}

.title2 {
    text-align: center;
    margin-top: 40px;
}
#card2 {
    display: flex;
    position: relative;
}

@media (max-width: 500px) {
    .jumbotron {
        width: 100%;
        margin-top: 100px;
    }


    #divcard1 {
        position: relative;
        right: 230px;
        top: 300px;
    }

    #card1 {
        position: relative;
        width: 300px;
    }

    #divcard2{

        top: 600px;
        right: 230px;

    }

    #card2{

            width: 300px;
    }

    .title2{

        position: relative;
        top: 600px

    }

}
