
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h6 class="display-4" class="text"> <strong>Preço baixo e bom atendimento</strong></h6>
      <h6 class="lead" class="text"><strong>A sua empresa a um passo do sucesso</strong></h6>
    </div>
  </div>



<div class="container">
    
    <h1 class="title">Serviços</h1>
    
    <div class="row">
        <div class="col-8">
            <app-slides></app-slides>
        </div>
    
        <div class="col-4" id="divcard1" >
            <div class="card" id="card1" >
                <div class="card-body" id="cardbody1">
                    <h6><strong>Chega de edição amadora!</strong> </h6>
                    <h6><strong>Sua propaganda agora pode ser mais profissional é eficiente na internet</strong></h6>
                    <h6><strong>com a edição de vídeos com narração chamando o seu cliente e o convencendo a comprar seu produto.</strong> </h6>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-8">
            <imgs-slides></imgs-slides>
        </div>
    
        <div class="col-4" id="divcard2">
            <div class="card" id="card2">
                <div class="card-body" id="cardbody2" style="margin-top: 30px;">
                    <h6><strong>Sua empresa está com as vendas travadas na internet?</strong></h6>
                    <h6><strong>Pode ser a maneira que seu produto está sendo representado,</strong></h6>
                    <h6><strong>uma imagem profissional atrai a visão de seus clientes para seu produto e sua marca</strong></h6>
                    <h6><strong>despertando neles o interesse de adquirir seu produto.</strong></h6>
                </div>
            </div>
        </div>
    </div>
    

    <h1 class="title2">Outros Serviços</h1>

<app-create-services></app-create-services>

</div>