footer{

width: 100%;



}
#footer2{

    height: 150px; 
    background-color: black;

}

#logo{

    width:150px; 
    height:120px;


}

.subLogo{

margin-left: 150px;
margin-top: -90px;

}

.ouro{

    color: yellow; margin-left: 5px; 

}


@media (max-width: 500px) {
    footer {
        position: relative;
        top: 700px;
        width: 100%;
        height: 100%;
    }

    #footer2{

        height: 500px;


    }

    #logo{

        width:250px; 
        height:150px;

    }

    #container{

        position: relative;
        top: -170px;


    }
    

#contatos{

    position: relative;
    right: 150px;
    top: 20px;

}

.col-2{

position: relative;
top: 90px;
right: 50px;


}

.subLogo{

display: none;

}


}
