<footer class="mt-4 text-white" id="footer">
    <div class="col-md-12" style="text-align: center; color: black; ">
        <span>
            <strong>Nos siga nas nossas redes sociais !</strong>
        </span>
    </div>
    <br>
    <div class="col-md-12" style="text-align: center;">
        <span>
            <a href="https://www.instagram.com/ouro.mid/" target="_blank">
                <i>
                    <img src="/assets/img/icons/instagram.svg" width="30px" height="30px">
                </i>
            </a>
            <a style="margin-left: 10px;">
                <i>
                    <img src="/assets/img/icons/facebook.svg" width="30px" height="30px">
                </i>
            </a>
        </span>
    </div>
    <br>

    <div class="row navbar navbar-light" id="footer2">
        <div class="col-4" id="container">
            <div style="display: flex; align-items: center;">
                <img src="/assets/img/logo.png" id="logo">

            </div>

            <p class="subLogo">

        <span>
            <h6>A mídia que vale</h6>
            <h6 class="ouro"><strong>Ouro !</strong></h6>
        
        </span>

            </p>
        </div>
        <div class="col-4" id="contatos">
            <div>
                <strong> Email de contato :</strong> savioadriano.contato@gmail.com
            </div>
            <br>
            <div>
                <strong> Telefone de contato :</strong> (62)9-8628-1169
            </div>
        </div>
        <div class="col-2">
            <span><strong>Copyright© 2020 OuroMid</strong> </span>
        </div>
    </div>
</footer>