<div class="jumb">
<div class="row">


    <div class="col-sm-3" id="card1">

        <h3 style="font-family: fantasy ; color: rgb(0, 183, 255);">Criação de logo marcas</h3>
        <img src="assets/img/servicos/logoService.png" width="200px" height="200px" alt="..." class="img-thumbnail">

    </div>


    <div class="col-sm-3" id="card2">
        
        <h3 style="font-family: fantasy ; color: rgb(0, 183, 255);">Cartão de Visita</h3>
        <img src="assets/img/servicos/cartaoService.png" width="200px" height="190px" alt="..." class="img-thumbnail">

    </div>

    <div class="col-sm-3" id="card3">

        <h3 style="font-family: fantasy ; color: rgb(0, 183, 255);">Cartão de visita digital</h3>
        <img src="assets/img/servicos/cartaoDigService.png" width="200px" height="200px" alt="..." class="img-thumbnail">

    </div>

</div>

<br>
<br>
</div>
