
#card1{

    margin-left: 150px;
    margin-top: 50px;;

}


#card2{

    margin-top: 50px;


}

#card3{

    margin-top: 50px;


}

.btn{

margin-top: 50px;

margin-left: 80px;
}

#redesSociais{

    margin-top: 40px;
    margin-left: 80px;

}



.jumb{

    margin-top: 40px;
    background-color: white;
    border-style: groove;


}


@media(max-width: 500px){

.jumb{

    position: relative;
    top:600px

}

#card1{

position: relative;
right: 150px;

}

}

