
   <app-promocoes-videos></app-promocoes-videos>

     <div class="row">
          
            <div id="vid1">
      <iframe src="https://www.youtube.com/embed/mTemQ0-gGAs?" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
   </div>
     
    <div id="vid2">
        <iframe src="https://www.youtube.com/embed/ncbAAyoZIYU?" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
  </div>
     
  <div id="vid3">
        <iframe src="https://www.youtube.com/embed/I0YCPeT_TNs?" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
    </div>

    </div>
    
    <div class="row">

   
    <div id="vid4">
        <iframe src="https://www.youtube.com/embed/N2ZSyn7Qcdw" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
    </div>  


</div>
 

<div class="alert alert-primary" role="alert">
    <h4 class="alert-heading" style="color:yellow">Garanta ja o seu video propaganda</h4>
    <p style="color:yellow">Tenha agora uma propaganda mais profissional é eficiente na internet</p>
    <hr>
    <p class="mb-0" style="color:yellow">Click no botão abaixo e faça um orçamento</p>

    <hr>

    <a type="button" class="btn btn-outline-warning" (click)="enviar(Modal)">
        Faça um orçamento
    </a>
</div>



<!-- Modal -->

<ng-template #Modal let-c="close" let-d="dismiss">

    <div class="modal-header"> <strong>Contato para serviços</strong>
        <button type="button" class="close" (click)="c('')" style="color: red;">X</button>
    </div>
    <div class="modal-body">
        <div>

            <h6>Você pode entrar em contato conosco via email ou Whatsapp</h6>
            <h6>Vamos lhe atender o mais rapido possivel</h6>
            <h6><strong>Faça ja seu orçamento !</strong> </h6>

        </div>

        <br>

        <div class="gmail">
            <a href="mailto:savioadriano.contato@gmail.com" target="_blank">
                <i>
                    <img src="/assets/img/icons/gmail.svg" width="40px" height="40px">
                    <strong style="margin-left: 10px; font-size: 13px;"
                    style="color: white; text-decoration: none;">Atendimento email</strong>
                </i>
            </a>
        </div>

        <div class="whatsapp">
            <a  href="https://mywhats.net/OuroMid" target="_blank">
                <i>
                    <img src="/assets/img/icons/whatsapp.svg" width="40px" height="40px">
                    <strong style="margin-left: 10px; font-size: 13px;" 
                    style="color: white; text-decoration: none;">Atendimento Whatsapp</strong>
                </i>
            </a>
        </div>

    </div>

</ng-template>
