
body { overflow-x: hidden;}

.row{

margin-top: 40px;

}

#vid1{

    margin-left: 50px;

}

#vid2{

    margin-left: 60px;
    
}

#vid3{

    margin-left: 40px;
    
}

#vid4{

    margin-left: 50px;
    
}

iframe{

    width:400px; 
    height:315px;

}

.gmail{

    display: inline-flex;
    color:white; 
    background-color: rgba(187, 4, 4, 0.699); 
    border-radius: 10px 20px;
    margin-left: 10px;
    padding-right: 12px;

}

.whatsapp{

    display: inline-flex;
    color:white;
    background-color: rgb(4, 165, 4); 
    border-radius: 10px 20px;
    margin-left: 10px;
    padding-right: 12px;

}

.btn{

    color: rgba(255, 255, 0, 0.938); 
    
    }
    
    .alert{
    
    
        width: 40%; 
        background-color: black; 
        margin-top: 50px;
        margin-left: 340px;
    
    }


@media(max-width: 500px){

  
    .alert{

        width: 70%;
        margin-top: 50px;
        margin-left: 80px;
    
    }
  
ng-template{

width: 10%;

}


.whatsapp img{

    width:20px; 
    height:40px

}

.gmail img{

    width:20px; 
    height:40px;

}

iframe{

width: 100%;
height: 100%;
}


#vid1{

    margin-left: 50px;
    margin-top: 40px;
    
}

#vid2{

    margin-left: 50px;
    margin-top: 40px;
}

#vid3{

    margin-left: 50px;
    margin-top: 40px;
}


}
    
    
