<div class="container">
<div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4">
      <div class="card" style="width: 18rem;">
        <img src="assets/img/servicos/Cards/caixa-tem.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Imagens</h5>
          <p class="card-text">Confira varios modelos de imagens</p>
          <a type="button" class="btn btn-warning" href="/imagens">Conferir</a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card" style="width: 18rem;">
        <iframe width="285" height="290" src="https://www.youtube.com/embed/mTemQ0-gGAs?controls=0&mute=1" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
        <div class="card-body">
          <h5 class="card-title">Videos</h5>
          <p class="card-text">Confira varias varidades de videos</p>
          <a type="button" class="btn btn-warning" href="/videos">Conferir</a>
        </div>
      </div>
    </div>
  </div>

</div>