body { overflow-x: hidden;}


.container{

margin-left: 350px;

}

.row{

    margin-top: 80px;
    

}


@media(max-width: 500px){

.container{

margin-left: 30px;
position: relative;
top: 40px;

}


}