a{

    width: 250px;
    position: fixed;
    bottom: 10px;
    left: 1250px;
    z-index: 9999999;
    
}


@media(max-width: 500px){

a{

    width: 250px;
    position: fixed;
    bottom: 90px;
    left: 300px;
    z-index: 9999999;


}


}