<h1 class="title"><strong>Produtos</strong></h1>

<h1 class="titleImg">Imagens</h1>

<app-promocoes></app-promocoes>

<div class="row">


    <img src="assets/img/servicos/home/1.png" class="rounded float-left" alt="...">
    <img src="assets/img/servicos/home/2.png" class="rounded float-right" alt="...">
    <img src="assets/img/servicos/home/3.png" class="rounded float-left" alt="...">

</div>

<div class="row">


    <img src="assets/img/servicos/home/4.png" class="rounded float-left" alt="...">
    <img src="assets/img/servicos/home/5.png" class="rounded float-right" alt="...">
    <img src="assets/img/servicos/home/6.png" class="rounded float-left" alt="...">

</div>


<div class="row">


    <img src="assets/img/servicos/home/7.png" class="rounded float-left" alt="...">
    <img src="assets/img/servicos/home/8.png" class="rounded float-right" alt="...">
    <img src="assets/img/servicos/home/9.png" class="rounded float-left" alt="...">

</div>


<div class="row">


    <img src="assets/img/servicos/home/10.png" class="rounded float-left" alt="...">
    <img src="assets/img/servicos/home/11.png" class="rounded float-right" alt="...">
    <img src="assets/img/servicos/home/12.png" class="rounded float-left" alt="...">

</div>

<br>
<br>

<div class="alert alert-primary" role="alert">
    <h4 class="alert-heading" style="color:yellow">Garanta ja a sua arte</h4>
    <p style="color:yellow">Tenha uma arte de qualidade, com o padrão e modelo que você desejar.</p>
    <hr>
    <p class="mb-0" style="color:yellow">Click no botão abaixo e faça um orçamento</p>

    <hr>

    <a type="button" class="btn btn-outline-warning" (click)="enviar(Modal)">
        Faça um orçamento
    </a>
</div>



<!-- Modal -->

<ng-template class="modal" #Modal let-c="close" let-d="dismiss">

    <div class="modal-header"> <strong>Contato para serviços</strong>
        <button type="button" class="close" (click)="c('')" style="color: red;">X</button>
    </div>
    <div class="modal-body">
        <div>

            <h6>Você pode entrar em contato conosco via email ou Whatsapp</h6>
            <h6>Vamos lhe atender o mais rapido possivel</h6>
            <h6><strong>Faça ja seu orçamento !</strong> </h6>

        </div>

        <br>
        <div class="gmail">
            <a href="mailto:savioadriano.contato@gmail.com" target="_blank">
                <i>
                    <img src="/assets/img/icons/gmail.svg">
                    <strong style="margin-left: 10px; font-size: 13px;"
                    style="color: white; text-decoration: none;">Atendimento email</strong>
                </i>
            </a>
        </div>

        <div class="whatsapp">
            <a  href="https://mywhats.net/OuroMid" target="_blank">
                <i>
                    <img src="/assets/img/icons/whatsapp.svg">
                    <strong style="margin-left: 10px; font-size: 13px;" 
                    style="color: white; text-decoration: none;">Atendimento Whatsapp</strong>
                </i>
            </a>
        </div>
    </div>

</ng-template>

