
.title{

    text-align: center;

}

.titleImg{


margin-left: 100px;
margin-top: 30px;

}


.container{

    margin-top: 40px;


}

.modal{

    width: 100%;
    
    }

    .modal img{

        width:40px; 
        height:40px;


    }
    


.gmail{

    display: inline-flex;
    color:white; 
    background-color: rgba(187, 4, 4, 0.699); 
    border-radius: 10px 20px;
    margin-left: 10px;
    padding-right: 12px;

}

.whatsapp{

    display: inline-flex;
    color:white; 
    background-color: rgb(4, 165, 4); 
    border-radius: 10px 20px;
    margin-left: 10px;
    padding-right: 12px;

}

.whatsapp img{

    width:40px; 
    height:40px

}

.gmail img{

    width:40px; 
    height:40px

}


.rounded{

    width: 450px;
    height: 250px;

    
}

.img-fluid{


    width: 300px;
    height: 300px;
    margin-left: 700px;
    margin-top: -400px;


}



.row{

    margin-top: 40px;


}

.btn{

color: rgba(255, 255, 0, 0.938); 

}

.alert{


    width: 50%; 
    background-color: black; 
    margin-top: 50px;
    margin-left: 340px;

}



@media(max-width: 500px){

    .alert{

        width: 70%;
        margin-top: 50px;
        margin-left: 80px;
    
    }
    
img{

margin-top: 40px;


}


.whatsapp img{

    width:20px; 
    height:40px

}

.gmail img{

    width:20px; 
    height:40px

}


}
    
    