<div class="jumb">
  
      <h1>Promoção da <strong>OuroMid</strong></h1>
      <h3><strong>Imagens do seu jeito e gosto</strong></h3>
    
  <div class="row" style="margin-left: 30px; margin-top: 20px;">
      <img src="assets/img/servicos/home/14.png" width="400px" height="200px" alt="..."
      class="img-fluid">

      <img src="assets/img/servicos/precos/PREÇO-DAS-ARTES.png" width="200px" height="200px" alt="..."
          class="img-fluid">
        
  </div>

  <br>

</div>
