.jumb {
    margin-top: 40px;
    background-color: white;
    border-style: groove;
    margin-left: 40px;
    width: 70%;
}

h1 {
    margin-left: 200px;
}

h3 {
    margin-left: 150px;
    margin-top: 20px;
}

@media (max-width: 500px) {

    h1 {
        margin-left: 50px;
    }
    
    h3 {
        margin-left: 50px;
        margin-top: 20px;
    }

.jumb{

    width: 80%;



}

}
